.container {
  width: 80%;
  .list-item {
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    width: 80%;
    height: 10%;
    overflow: scroll;
  }

  .input-c {
    width: 100%;
  }
  .highlight {
    background-color: white;
  }
  .text:hover {
    background-color: white;
  }
  .item {
    padding: 1rem;
  }
}
